
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Demo Ajax Asp.Net MVC</h2>
<hr />
<h3>1. Ajax.BeginForm</h3>

@using (Ajax.BeginForm("ShowDetails", "Ajax", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divResult", InsertionMode = InsertionMode.Replace, LoadingElementId = "loadingElement" }))
{
    <table>
        <tr>
            <td>
                @Html.Editor("ProductCode", new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Product Code" } })
            </td>
            <td>
                <button type="submit" class="btn btn-primary">Get</button>
            </td>
        </tr>
    </table>
}

@*Product Detail Display Here*@
<div id="loadingElement" style="display:none; color:#f60">
    Loading product detail...
</div>

<div id="divResult"></div>

<h3>2. Ajax.ActionLink </h3>
<p>
    @Ajax.ActionLink("Get All Product", "GetAllProducts", "Ajax", new AjaxOptions
{
    UpdateTargetId = "divResultAll",
    OnBegin = "",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET",
    LoadingElementId = "loadingElement2",
    OnSuccess = "",
    Confirm = "Do you want to get all product?"
}, new { @class = "btn btn-warning" })
</p>
@*Product List Display Here*@
<div id="loadingElement2" style="display:none; color:#f60">
    Loading products...
</div>
<div id="divResultAll"></div>